@{
    ViewBag.Title = "About this project";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Application created during studies in Polish-Japanese Academy of Information Technology by Artur Borkowski (s12020) 
    under the supervision of dr Tomasz Borzyszkowski.</p>
